@charset "UTF-8";

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

header h2 {
    text-align: center;
    font-weight: bold;
}

header p {
    text-align: center;
    font-style: italic;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 20px 20px;
    line-height: 1.4em;
}

.main-nav ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0px 17px 0px 17px;
    /*border-radius: 50%;*/
}

.main-nav a:hover {
    background: red;
    color: whitesmoke;
}

header h2:hover {
    color:red;
}

header p:hover {
    color:#ff9100;
}


/*
body {
    margin: 0;
    height: 100vh;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas: "grid-head grid-head grid-head" "p1 t1 p2" "t2 p3 t3" "grid-footer grid-footer grid-footer";
    height: 100vh;
    margin: 1em;    
}

section.grid-head {
    grid-area: grid-head;
    background: #779743;
    border-radius: 25px 25px 0px 0px;
}

section.grid-footer {
    grid-area: grid-footer;
    background: #30658A;
}

section.p1 {
    grid-area: p1;
    background-image: url('../images/rightfront.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p2 {
    grid-area: p2;
    background-image: url('../images/front.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p3 {
    grid-area: p3;
    background-image: url('../images/Side.jpeg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.t1 {
    background-color: white;
}

section.t2 {
    background-color: white;
}

section.t3 {
    background-color: white;
}

header h3:hover {
    color:rgb(0, 203, 203);
}
