@charset "UTF-8";

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

header h2 {
    text-align: center;
    font-weight: bold;
}

header p {
    text-align: center;
    font-style: italic;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 20px 20px;
    line-height: 1.4em;
}

.main-nav ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0px 17px 0px 17px;
    font-weight: bold;
    /*border-radius: 50%;*/
}

.main-nav a:hover {
    background: red;
    color: rgb(0, 0, 0);
}

header h2:hover {
    color:red;
}

header p:hover {
    color:#ff9100;
}


/*
body {
    margin: 0;
    height: 100vh;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 1fr;
    grid-template-areas: "grid-head grid-head grid-head" "p1 p2 p3" "p4 p5 p6" "p7 p8 p9" "t1 p10 t2" "grid-footer grid-footer grid-footer";
    height: 120vh;
    margin: 1em;    
}

section.grid-head {
    grid-area: grid-head;
    background: #B22222;
    border-radius: 25px 25px 0px 0px;
}

section.grid-footer {
    grid-area: grid-footer;
    background: #B22222;
    border-radius: 0px 0px 25px 25px;
}

section.p1 {
    grid-area: p1;
    background-image: url('../images/MERCEDES.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p2 {
    grid-area: p2;
    background-image: url('../images/RBR.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p3 {
    grid-area: p3;
    background-image: url('../images/FERRARI.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p4 {
    grid-area: p4;
    background-image: url('../images/MCLARN.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p5 {
    grid-area: p5;
    background-image: url('../images/ALPINE.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p6 {
    grid-area: p6;
    background-image: url('../images/ALPHA.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p7 {
    grid-area: p7;
    background-image: url('../images/ASTON.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p8 {
    grid-area: p8;
    background-image: url('../images/WILLIAMS.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p9 {
    grid-area: p9;
    background-image: url('../images/ALFA.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p10 {
    grid-area: p10;
    background-image: url('../images/HAAS.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p1:hover {
    grid-area: p1;
    background-image: url('../images/MERCEDESblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p2:hover {
    grid-area: p2;
    background-image: url('../images/RBRblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p3:hover {
    grid-area: p3;
    background-image: url('../images/FERRARIblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p4:hover {
    grid-area: p4;
    background-image: url('../images/MCLARNblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p5:hover {
    grid-area: p5;
    background-image: url('../images/ALPINEblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p6:hover {
    grid-area: p6;
    background-image: url('../images/ALPHAblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p7:hover {
    grid-area: p7;
    background-image: url('../images/ASTONblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p8:hover {
    grid-area: p8;
    background-image: url('../images/WILLIAMSblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p9:hover {
    grid-area: p9;
    background-image: url('../images/ALFAblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p10:hover {
    grid-area: p10;
    background-image: url('../images/HAASblur.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
