@charset "UTF-8";

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
/*    background: #ccc; */
    margin:0px 0px 0px 0px;
    line-height: 1.4em;
    height: 100vh;
}

.main-nav ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 0px 0px;
    size: 50px 50p;
    /*border-radius: 50%;*/
}

.main-nav a:hover {
    background: black;
    color: white;
}

.video-container{
    width: 100vw;
    height: 100vh;
}

iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
    }
}

#text{
    position: absolute;
    color: #FFFFFF;
    left: 470px;
    top: 370px;
    transform: translate(-50%, -50%);
}

h1{
    color: red;
}

h2{
    color:rgb(22, 22, 22)
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5rem;
}

.language a {
    background:rgb(100, 0, 0);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 17px 17px 17px 17px;
    size: 50px 50p;
    /*border-radius: 50%;*/
}

.language ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.language a:hover {
    background: rgb(0, 0, 0);
    color: rgb(100, 0, 0);
}

