@charset "UTF-8";

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

header h2 {
    text-align: center;
    font-weight: bold;
}

header p {
    text-align: center;
    font-style: italic;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 20px 20px;
    line-height: 1.4em;
}

.main-nav ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0px 17px 0px 17px;
    font-weight: bold;
    /*border-radius: 50%;*/
}

.main-nav a:hover {
    background: red;
    color: white;
}

header h2:hover {
    color:red;
}

header p:hover {
    color:#ff9100;
}


/*
body {
    margin: 0;
    height: 100vh;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
    grid-template-areas: "grid-head grid-head grid-head" "t1 t2 t3"  "t4 t5 t6" "t7 t8 t9" "grid-footer grid-footer grid-footer";
    height: 100vh;
    margin: 1em;    
}

section.grid-head {
    grid-area: grid-head;
    background: #B22222;
    border-radius: 25px 25px 0px 0px;
}

section.grid-footer {
    grid-area: grid-footer;
    background: #B22222;
}

section.t1 {
    grid-area: t1;
    background-color: rgb(210, 250, 230);
    border-radius: 60px;
}

section.t2 {
    grid-area: t2;
    background-color: rgb(210, 250, 250);
    border-radius: 60px;
}

section.t3 {
    grid-area: t3;
    background-color: rgb(250, 250, 210);
    border-radius: 60px;
}

section.t4 {
    grid-area: t4;
    background-color: rgb(250, 210, 250);
    border-radius: 60px;
}

section.t5 {
    grid-area: t5;
    background-color: rgb(255, 175, 175);
    border-radius: 60px;
}

section.t6 {
    grid-area: t6;
    background-color: rgb(255, 195, 151);
    border-radius: 60px;
}

section.t7 {
    grid-area: t7;
    background-color: rgb(151, 163, 255);
    border-radius: 60px;
}

section.t8 {
    grid-area: t8;
    background-color: rgb(255, 151, 239);
    border-radius: 60px;
}

section.t9 {
    grid-area: t9;
    background-color: rgb(203, 151, 255);
    border-radius: 60px;
}


header h3 {
    text-align: center;
}

p {
    text-align: center;
}

header h3:hover {
    color: rgb(51, 0, 255);
}