@charset "UTF-8";

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104. 104, 104, 0.8);
}

.wrapper {
    display: grid;
    gap: 20px;
}

header h2 {
    text-align: center;
    font-weight: bold;
}

header p {
    text-align: center;
    font-style: italic;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 20px 20px;
    line-height: 1.4em;
}

.main-nav ul {
    display: grid;
    gap: 120px;
    padding: 10px;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    background: #6674A3;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: #12142D;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border-radius: 0px 17px 0px 17px;
    /*border-radius: 50%;*/
}

.main-nav a:hover {
    background: #12142D;
    color: #6674A3;
}

header h2:hover {
    color:#FF0026;
}

header p:hover {
    color:#FFEA00
}


/*
body {
    margin: 0;
    height: 100vh;
}
*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-template-areas: "grid-head grid-head grid-head" "p1 p2 p3" "t1 t2 t3" "grid-footer grid-footer grid-footer";
    height: 100vh;
    margin: 1em;    
}

section.grid-head {
    grid-area: grid-head;
    background: #B22222;
    border-radius: 25px 25px 0px 0px;
}

section.grid-footer {
    grid-area: grid-footer;
    background: #B22222;
}

section.p1 {
    grid-area: p1;
    background-image: url('../images/RBRcar.jpeg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p2 {
    grid-area: p2;
    background-image: url('../images/MaxVerstappen.jpg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.p3 {
    grid-area: p3;
    background-image: url('../images/SergioPerez.jpeg');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

section.t1 {
    background-color: rgb(230, 254, 240);
}

section.t2 {
    background-color: rgb(231, 253, 254);
}

section.t3 {
    background-color: rgb(248, 254, 230);
}

header h3:hover {
    color: #FF0026;
}

h2:hover {
    color: #FFEA00;
}